<h1>About</h1>
<p>
	You prepared your event ahead, expected a certain number of people, but on the big day only half showed up. What's worse? You spent more money than you needed to! With Eventsite, you know longer have to worry about who is comming and who is not, because whether or not they are comming, they have already paid, keeping your loss as the event planner at minimum. 
	</br>
	</br>
	Wether you are throwing an end of the year party, hosting an event at a ballroom, or you are the one who is booking a trip with your friends, Eventsite will make your life easier. 
</p>

<!--
<div class="row">
  	<div class="span4">
  		<h2>Navigation Bar</h2>
  	</div>
  	<div class="span8">
	  	<h1>About</h1>
		<p>
			<%= link_to "One Month Rails", "http://onemonthrails.com" %>
			is a project to teach
			<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
			in one month. This is the sample application.
		</p>
	</div>
</div>
-->


